@using EmptyProject.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home/index">StoreBoss</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    @Html.ActionLink("Home", "index", "home")
                </li>
                @if (AccessManager.IsAuthorized())
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My projects <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Brand", "index", "Brand")
                            </li>
                            <li>
                                @Html.ActionLink("Store", "index", "Store")
                            </li>
                        </ul>
                    </li>
                }
               
                <li>
                    @Html.ActionLink("Contacts", "contact", "home")
                </li>
                <li>@Html.ActionLink("Subsriptions", "index", "subscription")</li>
                <li>
                    @Html.ActionLink("About Us", "about", "home")
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                @if (!AccessManager.IsAuthorized())
                {
                    <li><a href="@Url.Action("create", "user")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="@Url.Action("Login", "user")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
                else
                {
                    <li>@Html.ActionLink("Привет, " + @AccessManager.GetCurrentUser().Login, "AccountINfo", "User",  new { @class= "" })</li>
                }
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - StoreBoss corp.</p>
        </footer>
    </div>

</body>
</html>