@model EmptyProject.ViewModels.Brand.CreateBrandVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <div class="input-group">
       @Html.LabelFor(m=>m.Name)
        <br />
       @Html.EditorFor(m=>m.Name)
         @*<input type="name" class="form-control" id="name">*@
    </div>

    <div class="input-group">
        @Html.LabelFor(m => m.LogoURL)
        <br />
        @Html.EditorFor(m => m.LogoURL)
        @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
    </div>
    <div class="input-group">
        @Html.LabelFor(m => m.Description)
        <br />
        @Html.TextAreaFor(m => m.Description)
        @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
    </div>

    @Html.HiddenFor(m=>m.UserID)
    <button type="submit">Create</button>
</form>


