@model IEnumerable<EmptyProject.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            UserId
        </th>
        <th>
            Id
        </th>
    </tr>
    @foreach (var brand in Model)
    {
        <tr>
            <td>
                @brand.Name
            </td>
            <td>
                @brand.Description
            </td>
            <td>
                @brand.UserId
            </td>
            <td>
                @brand.Id
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = brand.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = brand.Id })
            </td>
        </tr>
    }
</table>


