@model IEnumerable<EmptyProject.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </tr>
    @foreach (var Store in Model)
    {
        <tr>
            <td>
                @Store.Name
            </td>
            <td>
                @Store.Description
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Store.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Store.Id }) |
                @Html.ActionLink("Info", "Info", new { id = Store.Id })
            </td>
        </tr>
    }
</table>
